@-webkit-keyframes bg{
0% {background-color:#5a0505;}
50% {background-color:#05505a;}
100% {background-color:#5a0516;}
}

body{
-webkit-animation:bg 2s infinite;
 padding:50px;
 margin:0 auto;
 text-align:center;
}
.main{
 margin-top:20px;
 color:white;
 margin:0 auto;
 
}
.sub{
 margin-top:20px;
 color:white;
}
.instrt{
  text-align:left;
  color:white;
}
#choiceplayer{
float :left;
color:yellow;
font-size:50px;
margin-left:120px;

}
#choicepawn{
color:yellow;
font-size:50px;
}


td{
margin-top:20px;
float:middle;
padding:20px;
background-color:white;
font-size:50px;
cursor:pointer;
border:solid 5px black;
width:1500px;
height:150px;
text-align:center;
vertical-align:top;
line-height:150px;
}
table{
margin-top:50px;
positon:absolute;
border-collapse:collapse;
left:50%;
margin-left:230px;
}
table tr:first-child td{
  border-top:0px;
}
table tr:last-child td{
  border-bottom:0px;
}
table tr td:first-child {
  border-left:0px;
}
table tr td:last-child {
  border-right:0px;
}

.footer{
margin-top:100px;
font-size:10px;
text-align:right;
}