* 
{
	margin: 0;padding:0;
	font-family: 'Girassol', cursive;

	user-select: none;
	user-select: none;
}
 

.sub
{
	height:100px;
     width:300px;
     color:black;
     font-size: 25px;

}

#form1
{
	width: 1000px;
	height: 2000px;
}

input {
	padding :20px 40px
}

div.game-board
{
	width: 703px;
	height: 700px;
	padding-left:300px;
	padding-top:100px;
	margin: 0 auto;
	cursor: pointer;

}
 h1
{
	height :400px;
    line-height: 400px;
	font-size: 80px;
    text-align: top;
    

}
h2{
	font-size: 40px;
}

div[id^="row"] div{
	width: 200px;
	height:200px;
	border:4px solid red;
	float: left;
	box-sizing: border-box;
	}

div[id^="row"]{
		overflow:hidden;
		clear:both;
	}

div[id^="row"] div:first-child {border-left: none;}
div[id^="row"] div:last-child {border-right: none;}
div[id="row-1"] div {border-top: none;}
div[id="row-3"] div {border-bottom: none;}
span {
	font-size: 50px;
	padding-top: 30px;
	display: inline-block;
}
body 
{
	/*background-color: darkkhaki;*/
	background-image: url('background_image.png');
	height:700px;
	padding:15pxpx;
	width: 1000px ;
	margin: 20px auto;
	text-align:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
	
	#mark button
	{
     height:60px;
     width:60px;
     color:red;
     font-size: 20px;
	}
	.abc 
	{
     height:100px;
     width:200px;
     color:black;
     font-size: 25px;
	}

	#nop h2
	{ 
		height :100px;
         line-height: 100px;
		/*border: 2px solid red;*/
	}
	input[id="Submit"] {
	background-color: darkcyan;
   
     }

     .sf{
     	font-size: 45px;
     }
   #p1name{
   	font-size: 30px
   }
   #p2name{
   	font-size: 30px
   }