body {
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
  	font-family: Girassol;
  	background-size: cover;
  	margin-top: 25px;
}

#X, #O {
	padding:10px 10px; 
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 100px 100px 100px;
	margin-left: 250px;
	margin-top: 50px;
}

#res, #resBoard, #Scrdp {
	display: block;
	float: right;
	padding: 10px 20px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

button[id^="item"] {
  background-color: rgb(174, 53, 47);
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;

}

#Score {
	display: none;
	margin-top: 100px;
	margin-left: 250px;
	font-size: 25px;
	background-color: rgb(174, 53, 47);
	width: 320px;
	color: White;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 2px;
}

h3 {
	font-size: 25px;
	width: 180px;
}

h3:hover , h1:hover{
	text-shadow: 2px 2px 5px  rgb(174, 53, 47);
}

button:hover {
	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: white;
    background-color: rgb(174, 53, 47);
}

#scrReset {
	display: block;
	position: absolute;
	right: 2%;
	top: 2%;
}

h1{
	font-size: 60px;
	text-decoration: underline;
	width: 300px;
}

