
 *{
 	margin: 10px;
 	padding: 10px;
 }
 body{
 	background: #212121;

 }
 .table{
 	height: 700px;
 	width: 500px;
 	background-color: slategrey;
 	border: 3px slategrey solid;
 	border-radius: 10px;
 }
 #h{
 	 font-family: 'Bebas Neue', cursive;

 	font-size: 4em;
 	 text-align: center;
 	 font-weight: lighter;
 	 color: white;
 	 margin: 0px;
 	 padding: 0px;
 	 
 	 
 }
 .flex{
 	
 	display: flex;
 	justify-content: space-around;
 	flex-direction: row;
 	
 }
 .box{
 	height: 95px;
 	width: 95px ;
 	border: 5px solid #212121;
 	border-radius: 5px;
 	margin: 0px;
 	padding: 0px;
 	background-color: #212121;
 	color: white;
 	font-size: 55px;
 	font-family: 'Ubuntu', sans-serif;
    text-align: center;
 	
 }
#reset{
	background-color:#212121 ;
	border: 2px;
	border-radius: 3px;
	color: white;
	height: 50px;
	width: 120px;
}
#reset:hover{
	cursor: pointer;
	background: #000;
}
.box:hover{
	cursor: pointer;
	background: #000;
	border: 5px solid #000;
}
.human{
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 1em;
	padding: 0px;
	margin: 0px;
}
.computer{
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 1em;
	padding: 0px;
	margin: 0px;
}
.form{
	width:500px;
	height:20px;
	background-color: grey;
	border: 2px;
}
#play{
	background-color:#212121 ;
	border: 2px;
	border-radius: 3px;
	color: white;
	height: 50px;
	width: 120px;
	padding: 0px;
	margin: 0px;
}
#play:hover{
	cursor: pointer;
	background: #000;
}